[Unit]
Description=This service runs listeners for hardware buttons
After=multi-user.target


[Service]
ExecStart=/usr/bin/python3 /home/pi/octoprint-hardware-buttons/button_service.py
WorkingDirectory=/home/pi/octoprint-hardware-buttons
Environment=PYTHONUNBUFFERED=1
Restart=always

[Install]
WantedBy=multi-user.target